<html>
  <head>
    <style>

    /*IDK where I'll see this background color but oh well*/
    html{
      background-color: #000010;
    }

    /* This one made background change*/
    body{
      background-color: #000010;
    }
    /**********************************************/

    #div2{
      color: #000000;
      background-color: #ffffff;
      text-align: left;
      width: 60%;
      /* Makes div2 centered */
      margin-left: auto; 
      margin-right: auto;
    }

    div{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }


    img.center{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
        color: white;
      background-color: #787878;
      display: block;
        text-align: center;
    }




    p a:link{
      color: #46f1e1;

    }
    
	h3 {
	  background:transparent;
	  text-align: center;
	  margin: 0 0 20px;
	  color: #fff;
	  position:relative;
	  left:0;
	  top:0;
	  text-transform:capitalize;
	}

	#send {
	  background: #333;
	  margin: auto;
	  padding: 50px;
	  border-radius: 10px;
	  font-size: 2em;
	  width: 315px;
	}
	
	#guess {
	  background: #333;
	  margin: auto;
	  padding: 50px;
	  border-radius: 10px;
	  font-size: 2em;
	  width: 315px;
	}
	
	.form {
	  display:flex;
	  justify-content:space-between;
	}
	
	input {
	  border: 1px solid #ddd0d2;
	  background: #FFFCFA;
	  padding: 5px;
	  width: 100px;
	  font-size: 16px;
	  text-align: center;
	  position:relative;
	}
	
	button {
	  background: #7eff83;
	  border: 1px solid #666;
	  padding: 5px;
	  color: #000;
	  width: 250px;
	  font-size: 1em;
	  cursor: pointer;
	  font-weight:bold;
	}
	
/***********************/
    </style>
  </head>
</html>



